# Системные файлы ОС
*.DS_Store
*.Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
.env/

# Файлы IDE
.idea/
*.vscode/

# Кэш Python
__pycache__/
*.pyc

# Личное/секретное
credential-google-sheets.json
*.env

# Исключить папку logs и все её содержимое
logs/
*.log

# Storage directories
storage/temp/
storage/cache/